@inherits LayoutComponentBase

<header>
    <nav>
        <div>
            <h1><a href="/">Webbutveckling med .NET - Moment 1.3</a></h1>
        </div>
    </nav>
</header>
<div class="wrapper">
    <aside>
        <NavMenu />
    </aside>
    <main>
        @Body
    </main>
</div>


<footer>
    <div>
        <p>Emelie Frendel &copy; 2022 - Webbutveckling med .NET - Moment 1.3</p>
        <p>Kontakta mig via e-post: <a href = "mailto:emfr2001@student.miun.se">emfr2001@student.miun.se</a></p>
        <Hello />
    </div>
</footer>
